.role-container {
  .actions {
    i {
      padding: 4px 0 4px 20px;
      font-size: 24px;
      cursor: pointer;
    }

    .add {
      color: green;
    }

    .delete {
      color: red;
    }
  }

  .table-role {
    .edit {
      color: orange;
      cursor: pointer;
      margin-right: 16px;
    }

    .delete {
      color: red;
      cursor: pointer;
    }
  }
}
